.path-mod-teletask @font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),
    url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),
    url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.path-mod-teletask #content{
  /* flexbox*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  -moz-box-align: center;

  display: box;
  box-orient: vertical;
  box-pack: center;
  box-align: center;
}

.path-mod-teletask .videoPlayer {
  overflow:hidden;
  position:relative;

  height:712px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.path-mod-teletask .videoPlayerInner {
  width: 100%;
  height: 0;
  padding-bottom: 61.8%;
}

.path-mod-teletask .televideoplayer .resizeBarContainer {
	float: left;
}

.path-mod-teletask .main {
}

.path-mod-teletask .controlsBox {
  position: absolute;
  bottom: 0px;
  width:100%;
  z-index: 2;
}

.path-mod-teletask video.slides {
  -webkit-transform-origin:50% 0%;
  -moz-transform-origin:50% 0%;
  -o-transform-origin:50% 0%;
  transform-origin:50% 0%;
  width: 100%;
}

.path-mod-teletask video.speaker {
  -webkit-transform-origin:50% 0%;
  -moz-transform-origin:50% 0%;
  -o-transform-origin:50% 0%;
  transform-origin:50% 0%;
  width: 100%;
}

.path-mod-teletask .videoContainer.speaker, .videoContainer.slides {
  position: relative;
  float: left;
}

.path-mod-teletask .videoContainer.speaker {
  width: 38.2%;
}

.path-mod-teletask .videoContainer.slides {
  width: 61.8%;
}

.path-mod-teletask .resizeBarContainer {
  display: none;
}
.path-mod-teletask .videoPlayer:hover .resizeBarContainer {
  display: block;
}

.path-mod-teletask .videoPlayer:hover .aspectRatio {
  display: block;
}

/* handle for resizing the video elements*/
/*
.resizebar{
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: #000000;
  background-repeat: no-repeat;
  margin-left: -10px;
  z-index: 5;
}
*/

.path-mod-teletask .videoPlayer:hover .resizer {
  display: block;
}

.path-mod-teletask .resizer{
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  font-size: 30px;
  text-align: center;
  border-left: 2px solid black;
  border-right: 2px solid black;
  cursor: ew-resize;
  bottom: 45px;
  left: 38.2%;
  display: none;
  margin-left: -2px;
}

/*
.resizer:before {
  content: "\f053";
  margin-left: -100%;
}
.resizer:after {
  content: "\f054";
}
*/

.path-mod-teletask .chapterContent.visible {
  margin-right: 0px;
}

.path-mod-teletask .chapterContent{
  position: absolute;
  height: 450px;
  top: 0px;
  right: 0px;
  width: 250px;
  margin-right: -250px;
  overflow-y: auto;
  -webkit-transition: margin-right 1s;
  -moz-transition: margin-right 1s;
  -ms-transition: margin-right 1s;
  transition: margin-right 1s;
}

.path-mod-teletask .quizContent.visible {
  /*margin: 0px;*/
}

.path-mod-teletask .quizContent{
  position: absolute;
  background-color:#555;
  color:white;
  font-family: FontAwesome;
  border: 5px solid #333;
  bottom: 0px;
  left: 0px;
  top: 0pc;
  overflow-y: auto;
  padding: 10px;
  -webkit-transition: margin-left 1s;
  -moz-transition: margin-left 1s;
  -ms-transition: margin-left 1s;
  transition: margin-left 1s;
}

.path-mod-teletask .quizContent div:first-child {
  margin-top: 20px;
}

.path-mod-teletask .quizContent .answers {
  margin: auto;
  width: 300px;
  text-align: left;
  padding-left: 150px;
}

.path-mod-teletask .quizContent input[type=checkbox]:not(old),
.path-mod-teletask .quizContent input[type=radio]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}

.path-mod-teletask .quizContent input[type=checkbox]:not(old) + label,
.path-mod-teletask .quizContent input[type=radio]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('../images/checks.png') no-repeat 0 0;
  line-height  : 24px;
}

.path-mod-teletask .quizContent input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}

.path-mod-teletask .quizContent input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}

.path-mod-teletask .quizContent .description{
  margin-top: 15px;
}

.path-mod-teletask table.quiz {
  font-family: FontAwesome;
  color:white;
}

.path-mod-teletask input[type=text]
{
  color:#5a6065;
}

.path-mod-teletask .close-quiz {
  background-color: #5a6065;
  color: white;
  border-radius: 0;
  width: 150px;
  height: 30px;
  margin: 5px;
}

.path-mod-teletask .submit-quiz {
  background-color: #b8510f;
  color: white;
  border-radius: 0;
  width: 150px;
  height: 30px;
  margin: 5px;
}

.path-mod-teletask .aspectRatio{
  position: absolute;
  top: 14px;
  right: 16px;
  width: 60px;
  height: 30px;
  line-height:30px;
  display: none;
  background-color: #2F3030;
  border-radius:5px;
  text-align:center;
  cursor:pointer;
  color:white;
  font-family: "Trebuchet MS", Helvetica, arial;
}

.path-mod-teletask .aspectRatio:hover {
  background-color:#444;
}

/* controls at the bottm of the player*/
.path-mod-teletask .controls {
  font-family: FontAwesome;
  font-size: 14px;
  background-color: #2F3030;
  padding: 5px 15px 5px;
  height: 35px;
  color: #eee;
}


.path-mod-teletask .controls .controlsRight {
  float: right;
}

.path-mod-teletask .controls .controlsRight > * {
  display: block;
  float: left;
  margin-left: 10px;
  line-height: 35px;
}

.path-mod-teletask .controls .button {
  font-family: FontAwesome;
  font-size: 18px;
  line-height: 35px;
  cursor: pointer;
  display: block;
  text-decoration: none;
  min-width: 25px;
  text-align: center;
  color: #eee;
}

.path-mod-teletask .controls .play {
  float: left;
}

.path-mod-teletask .controls .play:before {
  content: "\f04b";
}
.path-mod-teletask .controls .button:hover {
  text-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}

.path-mod-teletask .controls .pause:before {
  content: "\f04c";
}

.path-mod-teletask .controls .fullscreen:before {
  content: "\f065";
}

.path-mod-teletask .controls .fullscreen.active:before {
  content: "\f066";
}

.path-mod-teletask .controls .mute {
  float: left;
}

.path-mod-teletask .controls .mute:before {
  content: "\f028";
}

.path-mod-teletask .controls .muted:before {
  content: "\f026";
}

.path-mod-teletask .controls .chapter:before {
  content: "\f03a";
  color: #999;
}

.path-mod-teletask .controls .toggleQuiz:before {
  content: "\f14a";
  color: #999;
}

.path-mod-teletask .controls .chapter.active:before {
  color: #eee;
}

.path-mod-teletask .controls .toggleQuiz.active:before {
  color: #eee;
}

.path-mod-teletask .controls .playbackRate {
  font-size: 14px;
  min-width: 35px;
}

.path-mod-teletask .controls .sliding {
  height: 10px;
  margin-top: 3px;
  border: 1px solid #777;
}

.path-mod-teletask .controls .slider, .controls .buffer {
  position: absolute;
  left: 0;
  height: 10px;
  width: 0;
}

.path-mod-teletask .controls .slider {
  background-color: #DDD;
}

.path-mod-teletask .controls .buffer {
  background-color: #777;
}

.path-mod-teletask .controls .seek {
  position: relative;
}

.path-mod-teletask .controls .seekers {
  margin: 6px 310px 0 35px;
}

.path-mod-teletask .controls .volume {
  float: left;
  width: 40px;
  position: relative;
}

.path-mod-teletask .controls .volume.sliding {
  margin-top: 11px;
}

/* slideViewer */

.path-mod-teletask .slideContainer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 10px;
  overflow: visible;
  position: relative;
}

.path-mod-teletask .slideContainer li {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  box-sizing: border-box;
  border-left: 1px solid #000;
  background-color: #777;
  height: 10px;
}

.path-mod-teletask .slideContainer li:first-child {
  border-left: 0;
}

.path-mod-teletask .slideContainer li:hover {
  background-color: #DDD;
}

.path-mod-teletask .slideContainer li:hover img {
  display: block;
}

.path-mod-teletask .slideContainer li img {
  width: 256px;
  height: 192px;
  background-color: #DDD;
  border: 1px solid #999;
  margin-top: -200px;
  display: none;
}

.path-mod-teletask div.chapters {
  border: 5px solid #333;
}
.path-mod-teletask div.chapters ol {
  margin:0px;
  padding:0px;
  list-style-type:none;
  color:white;
}
.path-mod-teletask div.chapters ol li {
  padding:5px 5px 5px 20px;
  cursor:pointer;
  margin: 0 !important;
}
.path-mod-teletask div.chapters ol li:nth-child(even) {
  background-color:#666;
}
.path-mod-teletask div.chapters ol li:nth-child(odd) {
  background-color:#555;
}
.path-mod-teletask div.chapters ol li.active {
  position: relative;
}
.path-mod-teletask div.chapters ol li.active:before {
  font-family: FontAwesome;
  font-size: 20px;
  content: "\f0da";
  position: absolute;
  left: 5px;
}
.path-mod-teletask div.chapters ol li p {
  margin:5px 5px 5px 35px;
}
.path-mod-teletask div.chapters ol li p:first-child {
  font-weight:bold;
  margin-bottom:0px;
}

/* Aspect Ratio 16x9 */
.path-mod-teletask video.aspect-ratio-ws {
  -webkit-transform:scaleY(0.75);
  -moz-transform:scaleY(0.75);
  -o-transform:scaleY(0.75);
  transform:scaleY(0.75);
  margin-bottom: -25%;
}

/* Aspect Ratio 4x3 */
.path-mod-teletask video.aspect-ratio-fs {
  -webkit-transform:scaleY(1);
  -moz-transform:scaleY(1);
  -o-transform:scaleY(1);
  transform:scaleY(1);
  margin-top:0px;
}

.path-mod-teletask .videoPlayer div.overlay {
  position: absolute;
  bottom: 45px;
  left: 0;
  background-color: rgba(26, 26, 26, 0.5);
  color: #fff;
}

.path-mod-teletask .videoPlayer div.overlay ul {
  list-style-type: none;
}

.path-mod-teletask .videoPlayer .wiki.overlay h4 {
  padding: 5px;
}

.path-mod-teletask .videoPlayer div.overlay a {
  color: #fff;
}

.path-mod-teletask .annotations:before {
  font-family: FontAwesome;
  font-size: 20px;
  content: "\f08e";
  color: #999;
}

.path-mod-teletask .annotations.active:before {
  color: #eee;
}

.path-mod-teletask .menu {
  display: none !important;
  position: absolute;
  padding-top: 0.2em;
}

.path-mod-teletask .menu.active {
  display: block !important;
  background-color: rgba(26, 26, 26, 0.8);
  bottom: 45px;
}

.path-mod-teletask .menu_item {
  text-align: left !important;
  color: #ACACAC !important;
  margin-left: 0.1em;
}

.path-mod-teletask .menu_item.active {
  color: #eee !important;
}

.path-mod-teletask .overlay {
  display: none;
}

.path-mod-teletask .overlay.visible.enabled{
  display: block;
}

.path-mod-teletask .link_icon:before {
  font-family: FontAwesome;
  font-size: 20px;
  content: "\f08e";
  color: rgba(0,0,0,0.5);
  position: absolute;
  left: 5px;
  text-decoration: none;
}

.path-mod-teletask .videoPlayer .link.overlay {
  left: 95%;
  background-color: rgba(0,0,0,0);
}

.path-mod-teletask a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.path-mod-teletask #toggleQuestion {
  /*margin-top: 50px;
  box-shadow: 0 0 30px black;
  padding:10 15px 0 15px;*/

  position: absolute;
  top: 50%;
  /*background-color: #FFFFFF;
  width: 280px;
  /*padding: 10px;
  border:  5px;*/
  display: none;
  z-index: 10;
}

.path-mod-teletask #cover {
  display: none;
  position: fixed;
  top:    0px;
  left:   0px;
  width:  100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.path-mod-teletask .videoPlayer .spinner {
  display: none;
  position: absolute;
  height: 100%;
  height: calc(100% - 35px);
  width: 100%;
  z-index: 500;

  background: #222;
  color: white;
  font-size: 65px;
  opacity: 0.4;
}

.path-mod-teletask .videoPlayer .spinner .fa-spinner {
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 501;
}

.path-mod-teletask .fa-spin-fast {
  -moz-animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;

  -moz-animation-timing-function: cubic-bezier(.53,.52,.4,.59);
  -webkit-animation-timing-function: cubic-bezier(.53,.52,.4,.59);
  animation-timing-function: cubic-bezier(.53,.52,.4,.59);
}